image: node:8

stages:
    - build
    - test

cache:
    paths:
        - node_modules/

before_script:


build:
    stage: build
    script:
        - npm install
        - npm run dist
    artifacts:
        paths:
            - dist/

lint:
    stage: test
    script:
        - npm run lint

test:
    stage: test
    before_script:
        - echo "deb http://dl.google.com/linux/chrome/deb/ stable main" | tee -a /etc/apt/sources.list
        - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
        - apt-get update -yqq
        - apt-get install -yqq xvfb iceweasel google-chrome-stable lcov
        - Xvfb :99 -ac -screen 0 1024x768x24 &
        - export DISPLAY=:99
        - npm install
    script:
        - npm test
        - lcov --summary coverage/Firefox*/lcov.info
