-
    var version = '1.0.0';
    var lib = 
    {
        'jquery': 
        {
            'js': 
            {
                'url':       'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js',
                'integrity': 'sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
            }
        },
        'bootstrap':
        {
            'css':
            {
                'url':       'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css',
                'integrity': 'sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w='
            },
            'js':
            {
                'url':       'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js',
                'integrity': 'sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8='
            }
        },
        'jqueryterminal':
        {
            'css':
            {
                'url':       'https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.11.0/css/jquery.terminal.min.css',
                'integrity': 'sha256-NPnczI0KjCueVIbIZBIjffajQholjsUnhVe4sQgL80U='
            },
            'js':
            {
                'url':       'https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.11.0/js/jquery.terminal.min.js',
                'integrity': 'sha256-Qm1Nw4js01hUsHFCa8xirKnSZeRXR8uNgbAKwjhn9mA='
            }
        },
        'katex':
        {
            'css':
            {
                'url':       'https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css',
                'integrity': 'sha256-kAbX9Z5ZMhjo34PRGEMc7RiueevlbmDilvUt1NsZGAI='
            },
            'js':
            {
                'url':       'https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.js',
                'integrity': 'sha256-Jv5VrSHYxxBmh18hQUviB4OiVzOkDHdO0uY4GtrCMDQ='
            }
        },
        'jquerymousewheel':
        {
            'js':
            {
                'url':       'https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js',
                'integrity': 'sha256-jnOjDTXIPqall8M0MyTSt98JetJuZ7Yu+1Jm7hLTF7U='
            }
        },
        'mathjs':
        {
            'js':
            {
                'url':       'https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.18.0/math.min.js',
                'integrity': 'sha256-SqWLfbThKpf8OmjlWA0nUcT7/LmdX9cXUk2ti/I1I1o='
            }
        }
    };
