// Constants
@help-font:
{
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
};

// Colors
#help
{
    .colors(light)
    {
        h1-fg: #0e83cd;
        h1-border-color: #dddddd;
        sample-bg: #f5f5f5;
        tryit-fg: #fefefe;
        tryit-bg: #337ab7;
        tryit-bg-hover: #286090;
    }

    .colors(dark)
    {
        h1-fg: #839496;
        h1-border-color: #839496;
        sample-bg: #1e434a;
        tryit-fg: #eee;
        tryit-bg: #BD8E00;
        tryit-bg-hover: #826200;
    }
}

.help-colors(@mode)
{
    .help-content
    {
        @colors: #help.colors(@mode);

        h1
        {
            color: @colors[h1-fg];
            border-color: @colors[h1-border-color];
        }

        h2
        {
            color: @colors[h1-fg];
        }

        code
        {
            color: #terminal.colors(@mode)[fg];
            background-color: @colors[sample-bg];

            span.value
            {
                color: #terminal.colors(@mode)[output-fg];
            }

            .help-try-it
            {
                color: @colors[tryit-fg];
                background-color: @colors[tryit-bg];

                &:hover
                {
                    background-color: @colors[tryit-bg-hover];
                }
            }
        }
    }
}

body.dark
{
    .help-colors(dark);
}

.help-colors(light);

body
{
    margin-top: @navbar-thickness;

    @media (max-width: @max-mobile-width)
    {
        margin-top: @navbar-thickness-mobile;
    }
}

.help-container
{
    padding-top: 50px;
    margin-top: -50px;
    @help-font();
}

.help-toc
{
    position: fixed;
    top: @navbar-thickness + 20px;

    ul
    {
        list-style-type: none;
        padding-left: 20px;

        li
        {
            font-size: 13px;
            line-height: 22px;
        }
    }

    @media (max-width: @max-md-width)
    {
        position: static;
    }
}

.help-content
{
    font-size: 16px;

    h1, h2
    {
        padding-top: 50px;
        margin-top: -50px;
    }

    h1
    {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-bottom: 5px;
        margin-bottom: 20px;
        margin-top: -30px;
    }

    h2
    {
        font-size: 24px;
        margin-top: -35px;
    }

    table
    {
        font-size: 14px;

        td.code
        {
            @terminal-font();
        }
    }
}

code
{
    @terminal-font();
    font-size: 16px;
    line-height: 24px;

    display: block;
    margin-top: 0px;
    margin-bottom: 12px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;

    word-break: break-all;

    span.expr
    {
        display: block;
        margin-left: 8px;

        &::before
        {
            content: '>';
            display: inline-block;
            width: 16px;
        }
    }

    span.value
    {
        margin-left: 24px;
        margin-bottom: 4px;
    }

    .help-try-it
    {
        display: block;
        float: right;

        border-top-left-radius: 0px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0px;

        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 6px;
        padding-right: 6px;

        margin-top: -4px;

        font-size: 14px;
        outline: none;

        &:hover
        {
            text-decoration: none;
            outline: none;
        }

        &:focus
        {
            text-decoration: none;
            outline: none;
        }
    }

    p
    {
        margin: 8px;
    }
}
