// Constants
@sidebar-button-size: 34px;

// Colors
#sidebar
{
    .colors(light)
    {
        bg: #e7e7e7;
        fg: #777777;
        fg-disabled: #afafaf;
        border-color: #d7d7d7;

        button-bg: #d8d8d8;
        button-bg-hover: #c7c7c7;
        button-bg-active: #c7c7c7;
        button-bg-disabled: #e2e2e2;
    }

    .colors(dark)
    {
        bg: #002b36;
        fg: #839496;
        fg-disabled: #0A4C5C;
        border-color: #073642;

        button-bg: #073642;
        button-bg-hover: #08404E;
        button-bg-active: #0A4C5C;
        button-bg-disabled: #06313C;
    }
}

.sidebar-colors(@mode)
{
    .sidebar
    {
        @colors: #sidebar.colors(@mode);

        background-color: @colors[bg];
        border-color: @colors[border-color];

        a
        {
            color: @colors[fg];

            &.active>.round-button
            {
                background-color: @colors[button-bg-active];
            }

            &.disabled>.round-button
            {
                cursor: not-allowed;
                color: @colors[fg-disabled];
                background-color: @colors[button-bg-disabled];
            }
        }

        .round-button
        {
            background-color: @colors[button-bg];

            &:hover
            {
                background-color: @colors[button-bg-hover];
            }
        }
    }
}

body.dark
{
    .sidebar-colors(dark);
}

.sidebar-colors(light);

.sidebar
{
    position: fixed;
    top: @navbar-thickness;
    bottom: 0px;
    left: 0px;
    width: @sidebar-thickness;
    border-right-width: 1px;
    border-right-style: solid;

    @media (max-width: @max-mobile-width)
    {
        top: @navbar-thickness-mobile;
        bottom: auto;
        right: 0px;
        width: auto;
        height: @sidebar-thickness-mobile;
        border-right: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    &>a
    {
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        outline: none;

        &>.round-button
        {
            position: relative;
            width: @sidebar-button-size;
            height: @sidebar-button-size;
            margin-top: 12px;
            margin-bottom: 0px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;

            @media (max-width: @max-mobile-width)
            {
                display: inline-block;
                margin-top: (@sidebar-thickness-mobile - @sidebar-button-size) / 2;
                margin-bottom: (@sidebar-thickness-mobile - @sidebar-button-size) / 2;
                margin-left: 4px;
                margin-right: 0px;
            }

            transition: background-color 0.2s ease 0s;

            span
            {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &.texticon
                {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }

        &.disabled>.round-button
        {
            cursor: not-allowed;
        }
    }
}
